*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
wp-content/themes/combinadito/bower_components
wp-content/themes/combinadito/node_modules
wp-content/themes/combinadito/npm-debug.log
wp-content/themes/combinadito/vendor


/readme.html
/license.txt

