.navbar{
	&.navbar-searchform{
		background-color: $cyan;
    	border-color: transparent;
		margin-bottom: 0;
		.container{
			margin: 7px auto;
    		text-align: center;
    		.search-form{
    			label{
    				width: 100%;
    				margin-bottom: 0;
    				input{
    					width: 100%;
    					display: block;
    					box-shadow: none;
    					border-radius: 34px;
    					border: 1px solid transparent;
    					color: $blue--dark;
    				}
    			}
    			input.search-submit{
    				display: none;
    			}
    		}
		}
	}

	&.navbar-main{
		&.navbar-default{
			background-color: $yellow;
	    	border-color: transparent;
	    	border-width: 0;
	    	margin-bottom: 0;
			.navbar-header{
				.navbar-brand{
					@include img-replace(54px, 50px);
					background-image: url(../images/logo--xs.png)!important; 
					color: $blue--light; 
					&:hover{
							color: $white;
					}
				}
				@media (min-width: $screen-sm-min){
					.navbar-brand{
						@include img-replace(204px, 140px);
						background-image: url(../images/logo--lg.png)!important;
					}	
				}
			}
			.menu-navegacion-principal-container{
				@media (min-width: $screen-sm-min){
					padding:45px 0;
				}
				.navbar-nav{
				li{
					a{
						color: $black;
						&:hover{
							color: $purple; 
						}
						.visible-xs{
							display: inline-block !important;
							padding-left: 5px;
						}

						@media (min-width: $screen-sm-min){
							.visible-xs{
								display: none !important;
							}
						}
					}
						&.active{
							a{
								background-color: $yellow--dark;
								color: $purple--dark;
							}
						}
						&.dropdown{
							.dropdown-menu{
								li{
									a{
										color: $blue;
										&:hover{
											color: $blue--dark;
										}
									}
									&.active{
										a{
											background-color: $cyan;
											color: $white
										}
									}
								}
							}
						&.open{
							a.dropdown-toggle{
								color: $white;
								background-color: $purple--dark;
							}	
						}
					}
				}
			}
			}
		}
	}
}